﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="menubar.ascx.cs" Inherits="finalproject.user_control.menubar" %>
<asp:SqlDataSource runat="server" ID="select_pages" ConnectionString="<%$ ConnectionStrings:my_database %>">

</asp:SqlDataSource>
<ul class="nav navbar-nav" id="menubar_id" runat="server"></ul>